In [1]:
import pandas as pd

# Load price data from CSV file
df = pd.read_csv('price_data.csv', encoding='utf-8')
print(df.columns.tolist())
# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Generate a date range from "2024-01-01" to "2024-03-19"
date_range = pd.date_range(start="2024-01-01", end="2024-03-22", freq="D")

# Fill missing dates with the last available prices
df_filled = df.set_index('Date').reindex(date_range, method='ffill').reset_index()

# Rename the columns
df_filled.columns = ['Date', 'petrol price in GBP/litre', 'diesel price in GBP/litre']

df_filled['Date'] = df_filled['Date'].dt.strftime('%Y-%m-%d')

# Save the DataFrame to a CSV file
df_filled.to_csv('complete_fuel_prices.csv', index=False, encoding='utf-8', sep='|')

['Date', 'unleaded petrol price in GBP/litre', 'diesel price in GBP/litre']

In [2]:
food_price_data = pd.read_csv('complete_fuel_prices.csv', sep='|', encoding='utf-8')
economic_data = pd.read_csv('economic_indicators_dataset.csv', sep=',', encoding='utf-8')
food_price_data['Date'] = pd.to_datetime(food_price_data['Date'])
food_price_data['year'] = food_price_data['Date'].dt.year
food_price_data['month'] = food_price_data['Date'].dt.strftime('%b')
merged_data = pd.merge(food_price_data, economic_data, on=['year', 'month'], how='inner')
merged_data.drop(['year', 'month'], axis=1, inplace=True)
merged_data.to_csv('merged_economic_indicators.csv', index=False, encoding='utf-8', sep='|')

In [5]:
historical_food_price_data = pd.read_csv('/Users/wilfried/PycharmProjects/group_project/datasets/20240228_tesco_data.csv', sep='|', encoding='utf-8')
historical_food_price_data['date'] = pd.to_datetime(historical_food_price_data['date'], format='%Y%m%d')
historical_food_price_data['date'] = historical_food_price_data['date'].dt.strftime('%Y-%m-%d')
economic_data = pd.read_csv('merged_economic_indicators.csv', sep='|', encoding='utf-8')
renamed_economic_data = economic_data.rename(columns={'Date': 'date'}, inplace=False)
merged_price_data = pd.merge(historical_food_price_data, renamed_economic_data, on=['date'], how='inner')
merged_price_data.head()

,supermarket,prices_(£),prices_unit_(£),unit,names,date,category,own_brand,petrol price in GBP/litre,diesel price in GBP/litre,producer price,consumer price,food inflation
0,Tesco,0.40,0.0,unit,Swan Vesta Matches 1 Box,2024-02-28,household,False,1.4128,1.5028,136.7,132.3,5%
1,Tesco,0.50,0.0,unit,Tesco 200 Cotton Buds,2024-02-28,health_products,True,1.4128,1.5028,136.7,132.3,5%
2,Tesco,0.60,0.0,unit,Tesco Nappy Bags 300,2024-02-28,baby_products,True,1.4128,1.5028,136.7,132.3,5%
3,Tesco,0.75,0.0,unit,Fred & Flo Cotton Buds 300 Pack,2024-02-28,baby_products,True,1.4128,1.5028,136.7,132.3,5%
4,Tesco,0.98,0.0,unit,Stockwell & Co. Sweeteners 850S,2024-02-28,drinks,True,1.4128,1.5028,136.7,132.3,5%

In [6]:
merged_price_data.to_csv('test_data.csv', index=False, encoding='utf-8', sep='|')

In [3]:
import pandas as pd

# Load price data from CSV file
df = pd.read_csv('/Users/wilfried/Downloads/NASDAQCOM.csv', encoding='utf-8')
print(df.columns.tolist())
# Convert 'Date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Generate a date range from "2024-01-01" to "2024-04-01"
date_range = pd.date_range(start="2017-01-01", end="2024-04-01", freq="D")

# Fill missing dates with the last available prices
df_filled = df.set_index('date').reindex(date_range, method='ffill').reset_index()

# Rename the columns
df_filled.columns = ['date', 'NASDAQCOM']

df_filled['date'] = df_filled['date'].dt.strftime('%Y-%m-%d')

# Save the DataFrame to a CSV file
df_filled.to_csv('NASDAQCOM.csv', index=False, encoding='utf-8', sep=',')

['date', 'NASDAQCOM']

In [4]:
df = pd.read_csv('foreign_exchange_rates.csv', encoding='utf-8')
df2 = pd.read_csv('canadian_interest_rates.csv', encoding='utf-8')
df3 = pd.read_csv('us_interest_rates.csv', encoding='utf-8')
df4 = pd.read_csv('goods_inflation.csv', encoding='utf-8')
df5 = pd.read_csv('services_inflation.csv', encoding='utf-8')
df6 = pd.read_csv('DJIA.csv', encoding='utf-8')
df7 = pd.read_csv('SP500.csv', encoding='utf-8')
df8 = pd.read_csv('NASDAQCOM.csv', encoding='utf-8')
merged_fx_data = pd.merge(df, df2, on=['date'], how='inner')

In [5]:
merged_fx_data2 = pd.merge(merged_fx_data, df3, on=['date'], how='inner')
merged_fx_data3 = pd.merge(merged_fx_data2, df4, on=['date'], how='inner')
merged_fx_data4 = pd.merge(merged_fx_data3, df5, on=['date'], how='inner')
merged_fx_data5 = pd.merge(merged_fx_data4, df6, on=['date'], how='inner')
merged_fx_data6 = pd.merge(merged_fx_data5, df7, on=['date'], how='inner')
merged_fx_data7 = pd.merge(merged_fx_data6, df8, on=['date'], how='inner')
merged_fx_data7.head()

,date,FXAUDCAD,FXCHFCAD,FXCNYCAD,FXEURCAD,FXGBPCAD,FXJPYCAD,FXMXNCAD,FXNZDCAD,FXSEKCAD,FXUSDCAD,canada_interest_rate,us_interest_rate,goods_inflation,services_inflation,DJIA,SP500,NASDAQCOM
0,2017-01-01,0.9702,1.3064,0.1935,1.3973,1.6459,0.01140,0.06439,0.9295,0.1465,1.3334,0.5,3.75,118.9,140.2,19762.60,2238.83,5383.12
1,2017-01-02,0.9702,1.3064,0.1938,1.3973,1.6459,0.01140,0.06439,0.9295,0.1465,1.3287,0.5,3.75,118.9,140.2,19762.60,2238.83,5383.12
2,2017-01-03,0.9702,1.3064,0.1930,1.3973,1.6459,0.01140,0.06439,0.9295,0.1465,1.3435,0.5,3.75,118.9,140.2,19881.76,2257.83,5429.08
3,2017-01-04,0.9678,1.3005,0.1920,1.3930,1.6377,0.01134,0.06242,0.9251,0.1460,1.3315,0.5,3.75,118.9,140.2,19942.16,2270.75,5477.00
4,2017-01-05,0.9708,1.3083,0.1922,1.4008,1.6400,0.01145,0.06195,0.9285,0.1468,1.3244,0.5,3.75,118.9,140.2,19899.29,2269.00,5487.94

In [6]:
merged_fx_data7.to_csv('group_project_training_dataset.csv', index=False, encoding='utf-8', sep=',')

In [2]:
import pandas as pd
from datetime import datetime
def convert_to_yyyy_mm_dd(date_str):
    parsed_date = datetime.strptime(date_str, "%b %d %Y")
    return parsed_date.strftime("%Y-%m-%d")

df = pd.read_csv('/Users/wilfried/Downloads/US Dollar Index Futures Historical Data.csv', encoding='utf-8')
df['date'] = df['date'].apply(lambda x: convert_to_yyyy_mm_dd(x))

In [3]:
del df['Open']
del df['High']
del df['Low']
del df['Vol']
del df['Change']

In [4]:
df = df.rename(columns={'Price': 'us_dollar_index'})
df.reset_index(drop=True, inplace=True)
df.head()

         date  us_dollar_index
0  2024-04-01          104.764
1  2024-03-28          104.269
2  2024-03-27          104.064
3  2024-03-26          103.991
4  2024-03-25          103.934

In [5]:
df.to_csv('us_dollar_index_data.csv', index=False, encoding='utf-8', sep=',')

In [6]:
import pandas as pd

# Load price data from CSV file
df = pd.read_csv('us_dollar_index_data.csv', encoding='utf-8', sep=',')
print(df.columns.tolist())
# Convert 'Date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Generate a date range from "2024-01-01" to "2024-04-01"
date_range = pd.date_range(start="2017-01-01", end="2024-04-01", freq="D")

# Fill missing dates with the last available prices
df_filled = df.set_index('date').reindex(date_range, method='ffill').reset_index()

# Rename the columns
df_filled.columns = ['date', 'us_dollar_index']

df_filled['date'] = df_filled['date'].dt.strftime('%Y-%m-%d')

# Save the DataFrame to a CSV file
df_filled.to_csv('us_dollar_index_data.csv', index=False, encoding='utf-8', sep=',')

['date', 'us_dollar_index']

In [7]:
df = pd.read_csv('us_dollar_index_data.csv', encoding='utf-8', sep=',')
df2 = pd.read_csv('group_project_training_dataset.csv', encoding='utf-8', sep=',')
merged_fx_data = pd.merge(df, df2, on=['date'], how='inner')
merged_fx_data.to_csv('group_project_training_dataset_v2.csv', index=False, encoding='utf-8', sep=',')
merged_fx_data.head()

,date,us_dollar_index,FXAUDCAD,FXCHFCAD,FXCNYCAD,FXEURCAD,FXGBPCAD,FXJPYCAD,FXMXNCAD,FXNZDCAD,FXSEKCAD,FXUSDCAD,canada_interest_rate,us_interest_rate,goods_inflation,services_inflation,DJIA,SP500,NASDAQCOM
0,2017-01-01,103.146,0.9702,1.3064,0.1935,1.3973,1.6459,0.01140,0.06439,0.9295,0.1465,1.3334,0.5,3.75,118.9,140.2,19762.60,2238.83,5383.12
1,2017-01-02,103.146,0.9702,1.3064,0.1938,1.3973,1.6459,0.01140,0.06439,0.9295,0.1465,1.3287,0.5,3.75,118.9,140.2,19762.60,2238.83,5383.12
2,2017-01-03,103.146,0.9702,1.3064,0.1930,1.3973,1.6459,0.01140,0.06439,0.9295,0.1465,1.3435,0.5,3.75,118.9,140.2,19881.76,2257.83,5429.08
3,2017-01-04,102.649,0.9678,1.3005,0.1920,1.3930,1.6377,0.01134,0.06242,0.9251,0.1460,1.3315,0.5,3.75,118.9,140.2,19942.16,2270.75,5477.00
4,2017-01-05,101.453,0.9708,1.3083,0.1922,1.4008,1.6400,0.01145,0.06195,0.9285,0.1468,1.3244,0.5,3.75,118.9,140.2,19899.29,2269.00,5487.94